body {
  background-color: #fe5f1e;
}
.wrapper {
  background-color: white;
  width: 80%;

  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 60px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
}
.header {
  border-bottom: 1px solid #f6f6f6;
  padding: 40px 0;
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__logo img {
  margin-right: 15px;
}
.header__logo h1 {
  color: #181818;
  font-size: 24px;
  letter-spacing: 1%;
  text-transform: uppercase;
  font-weight: 800;
}
.header__logo p {
  color: #7b7b7b;
}
.button__delimiter {
  width: 1px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.25);
  margin-left: 14px;
  margin-right: 14px;
}
.button--cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 23px;
  padding: 12px 25px;
  background: #fe5f1e;
  border-radius: 40px;
  text-decoration: none;
  color: white;
}
.categories ul li {
  display: inline-block;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 30px;
  background-color: #ececec;
}
.categories ul li:hover {
  background-color: #f4f4f4;
}
.categories ul li:active {
  background-color: #ececec;
  background-color: royalblue;
}
.categories ul li.active {
  background-color: black;
  color: #fff;
}
.categories ul li:checked {
  background-color: red;
  color: #fff;
}
.activ {
  background-color: blueviolet;
}
.select {
  line-height: 23px;
  padding: 12px 25px;
  font-size: 20px;
  float: right;
  list-style-type: none;
  border-style: none;
  text-decoration: underline;
}
b {
  position: relative;
  left: 200px;
  font-size: 20px;
}

.basic_container {
  width: 100%;
}
.b_container {
  width: 100%;
  height: 600px;

  display: grid;
  grid-template-columns: 25% 25% 25% 25%; /*1fr для адантивної струтури зменщення вікна*/
  grid-template-rows: 100%;
}
.b_c_block_1 {
  padding-right: 30px;
}
.h2_center {
  text-align: center;
}

.pizza-block__selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f3f3f3;
  border-radius: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 6px;
}
.pizza-block__selector ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.pizza-block__selector ul:first-of-type {
  margin-bottom: 6px;
}
.pizza-block__selector ul li {
  padding: 8px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.pizza-block__selector ul li.active {
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
  cursor: auto;
}
.cought {
  display: grid;
  grid-template-columns: 45% 55%; /*1fr для адантивної струтури зменщення вікна*/
}
.add_pay {
  display: inline-block;
  display: grid;
  grid-template-columns: 70% 30%; /*1fr для адантивної струтури зменщення вікна*/

  border-radius: 200px;
  border-style: solid;
}
.add_pay:hover {
  color: white;
}
.add_pay i {
  display: inline-block;
  border-radius: 30px;
  background-color: #fe5f1e;
  color: #fff;
  font-weight: 600;
  width: 22px;
  height: 22px;
  text-align: center;
  font-style: normal;
  font-size: 13px;
  line-height: 22px;
  position: relative;
  top: 20px;
  left: 3px;
}
